body{
  color: white;
  background-image: linear-gradient( to right, #ff014c, #2f0041) 
}

.calculatorBody{
  max-width: 400px;
  margin: auto;
  background-color: black;
}

.button {
  display: block;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  border: none;
  color: white;
  background-color: #282f37;
}

p{
  font-size: 30px;
}